@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

:root {
  --light-green: #f1faee;
  --light-blue: #a8dadc;
  --mid-blue: #457b9d;
  --dark-blue: #1d3557;
  --red: #e63946;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.2s;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 2vw;
}

body {
  overflow-x: hidden;
}
.web_title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--dark-blue);
  text-decoration: none;
  align-items: center;
  padding: 30px 10px;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.2s;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav_link {
  display: flex;
  justify-content: space-around;
  width: 40%;
  z-index: 10;
}

.nav_link li {
  list-style: none;
  padding: 20px 30px 20px 30px;
}

.nav_link a {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--dark-blue);
  text-decoration: none;
}

.burger {
  position: absolute;
  display: none;
  padding-top: 5px;
  padding-right: 20vw;
  z-index: 1;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--dark-blue);
  margin: 6px;
  transition: all 0.3s ease;
}

.content_box {
  position: relative;
  display: flex;
  width: 95vw;
  height: 100vh;
  background: #f1faee;
  border-radius: 60px;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.4s;
}

.home_page {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 105vh;
  justify-content: center;
}

.content_box .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(255, 255, 255, 0);
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.waiting {
  width: 40vw;
  height: 40vw;
  background-color: rgb(255, 255, 255, 0);
}

.left {
  background-color: rgb(255, 255, 255, 0);
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.8s;
}

.right {
  background-color: rgb(255, 255, 255, 0);
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.8s;
}

.content {
  padding: 60px;
}

.slogan {
  color: var(--mid-blue);
  font-size: 72px;
}

.web_description {
  color: var(--mid-blue);
  padding: 20px 0 0 0;
}

.cta_btn,
.web_description,
.content,
.btn,
.slogan {
  background-color: rgb(255, 255, 255, 0);
}

.cta_btn {
  position: absolute;
  text-decoration: none;
  color: #fff;
  padding: 16px 32px;
  background: var(--light-blue);
  border-radius: 15px;
  transition: transform 0.5s; /* Animation */
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  color: var(--mid-blue);
}

.cta_btn:hover {
  transform: scale(1.1);
  background-color: #a1cfd1;
}

@media screen and (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }

  .nav_link {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 100px;
    color: #a8dadc;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
  }

  .nav_link li {
    padding: 0 18px 18px 18px;
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .content_box .container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255, 0);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .slogan {
    font-size: 50px;
  }
  .content_box {
    display: flex;
  }

  .content_box {
    padding: 100px 0 0 20px;
  }
  .waiting {
    padding-top: 1vw;
    width: 350px;
    height: 350px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cta_btn,
  .btn,
  .web_description,
  .slogan {
    text-align: center;
  }

  .buttondiv {
    display: flex;
    justify-content: center;
  }

  .content_box {
    height: 120vh;
  }
}

@media screen and (max-width: 675px) {
  .slogan {
    font-size: 45px;
    text-align: center;
  }
  .web_description {
    font-size: 14px;
    text-align: center;
  }
  .cta_btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }

  .btn {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .slogan {
    font-size: 35px;
  }

  .web_description {
    font-size: 2.5vw;
  }

  .cta_btn {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    margin-top: 20px;
  }

  .btn {
    font-size: 12px;
  }
}

.nav_active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#pages {
  position: relative;
  text-decoration: 1.1rem;
  font-weight: 600;
  color: var(--dark-blue);
}
#pages:after {
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#pages:hover:after {
  width: 100%;
}

.fa-solid {
  color: var(--dark-blue);
  padding: 2.5px 8px 2.5px 2.5px;
  background-color: rgb(255, 255, 255, 0);
}

.icons {
  display: flex;
}
